html {
    font-size: 0.8rem; 
    font-family: "Open Sans", sans-serif; 
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    background-color: rgb(228, 226, 226);
  }

li {
  line-height: 1.8;
}

pre {
  padding-left: 20px;
}

section,
.code {
  font-family: 'Courier New', 'Courier New', Courier, monospace;
  padding: 2px;
  color: darkblue;
  background-color: lightgray;
  border-radius: 2px;
  text-decoration: none;
  cursor: pointer;
  overflow-x: auto; /* In case code is too long */
}

section {
  position: relative; /* Required for absolute positioning of the pseudo-element */
  padding: 2px; /* Existing padding */
  box-shadow: inset 0 0 0 0 transparent; /* Initial box shadow (no visible border) */
  transition: box-shadow 0.3s ease; /* Smooth transition for box shadow */
  transition: transform 0.3s ease;
}

section:hover {
  box-shadow: inset 0 0 0 1.5px darkblue; /* Create an inset shadow to simulate an inner border */
  transform: translate(0px, 5px);
}

.code:hover {
  background-color: rgb(190, 190, 190);
  text-decoration: underline;
  font-weight: bold;
}

.header {
  display: flex;
  flex-direction: row;
  padding: 5px;
  background-color: rgb(202, 189, 189);
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: ease-in-out;
}

.header:hover {
  background-color: rgb(183, 169, 169);
}

.header h1{
  margin-right: 20px;
  text-align: center;
}

h1.hidden, img.hidden {
  opacity: 0; /* Hidden state */
}

h1, img {
  transition: opacity 0.5s ease; /* Smooth transition for opacity */
  opacity: 1; /* Fully visible by default */
}

.text-body {
  display: flex;
  flex-direction: column;
}